@import "themes.css";

* {
  font-family: "Roboto Mono", monospace;
  background-color: var(--global-bg-color);
  color: var(--text-color);
  padding: 0px;
  margin: 0px;
  border: 0px;
  /* border: 1px solid var(--text-color);
  margin: -1px; */
}
html {
  font-size: large;
  overflow: hidden;
}

button {
  border: 1px solid var(--text-color);
}
button:active,
button:active h1 {
  background-color: var(--alternate-bg-color);
}

tr.list-row:nth-child(odd),
tr.list-row:nth-child(odd) td {
  background-color: var(--alternate-bg-color);
}

table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.clickable,
button {
  user-select: none;
  cursor: pointer;
}

.purchase-available {
  font-weight: bold;
}
